/* Color Scheme Layout */

:root {
    --colorMain: rgb(0, 32, 128);
    --colorSec: rgba(255, 255, 255, 0.86);
    --colorThi: rgb(255, 200, 0);
}


/* Element styles */

* {box-sizing: border-box;}

body {
    background-color: var(--colorSec);
}

body, h1 {
    margin: 0;
}

header {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--colorThi);
    background-color: var(--colorMain);
    height: 7vh;
    position: sticky;
}

div {
    padding-top: 4vh;
    padding-bottom: 4vh;
    height: 55vh;
    display: flex;
    justify-content: center;
}

div img {
    border:solid 5px var(--colorThi);
    box-shadow: var(--colorMain) 4px 4px 15px 2px;
}



/*  Section Class Styles */

.sample {
    background-color: var(--colorMain);
    color: var(--colorSec);
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    width: calc(50% - 2vw);
    height: fit-content;
}

.section1 {
    background-color: var(--colorSec);
    height: fit-content;
    border: solid 4px var(--colorMain);
    color: var(--colorMain);
    padding: 1vh 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    box-shadow: 2px 2px 11px 1px;
}


/* Atomic Class Styles */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bkcol-gr  {background-color:indigo;}
.sec-ht    {height: fit-content;}
.sec-wd    {width: 100%;}
.txt-cen   {text-align: center;}
.txt-bld   {font-weight: bolder;}